.App{
    height: 300px;
    width: 400px;
    background: #c6dea1;
    margin: 0 auto;
}
.text-center{
    text-align: center;
}

.Child{
    height: 200px;
    width: 300px;
    background: #c396ee;
    margin: 0 auto;
}
.wrap-center{
    display: flex;
    align-items: center;
    justify-content: center;
}